body{
    width:100%;
    height:100vh;
    margin:0;
    background-image:url("city-blurred-hd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Poppins', sans-serif;
    font-size:1rem;
    align-items:center;
    color:white;
  }
  
  .Main_Form{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius:100px;
    padding:10px;
  }
  
  form{
    width:40%;
    max-width:500px;
    min-width:200px;
    margin: 0 auto;
  }
  
  h1, p{
    font-family: Arial;
    text-align:center;
    color:white;
    font-size:25px;
  }

  h1{
    font-size: 50px;
  }
  
  label{
    display:block;
    margin:0.5rem 0;
    align-items:center;
  }
  
  input, select, textarea{
    margin:3 0 0 0;
    width:100%;
    min-height:2em;
    border-radius:5px;
    border:2px solid black;
    display:block;
  }
  
  textarea{
    min-height:4em;
  }
  
  .inline {
    display:inline;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  button{
    display:block;
    margin:2em auto;
    width:60%;
    height:2em;
    font-size:1.1rem;
    background-color: rgb(3, 145, 29);
    color:white;
    border-radius:10px;
    border:0px;
    padding: 0;
  }

  button:hover{
    background-color:rgb(2, 94, 19);
    cursor: pointer;
  }
  
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }