*{
    scroll-behavior:smooth;
  }
  
  body{
    background:#f5f6f7;
    font-family:Helvetica;
  }
  
  .nav-header{
    position:fixed;
    display:flex;
    height:100%;
    width:300px;
    justify-content:flex-start;
    margin:0;
    border:2px solid black;
    padding:5px;
    border-radius:20px;
  }
  
  #navbar{
    display:flex;
    flex-direction:column;
    text-align:center;
  }
  
  .section-header{
    font-size:30px;
    font-weight:bold;
  }
  
  #main-doc{
    display:block;
    margin-left:320px;
    padding:20px;
    padding-top:0px;
  }
  
  .nav-link{
    text-decoration:none;
    color:#1e3832;
    font-family:Verdana;
    border-bottom:2px solid black;
    font-size:20px;
    padding:10px;
  }
  
  .nav-link:hover{
    cursor:pointer;
    color:#28be9d;
  }
  
  p{
    font-family:Sans-serif;
  }
  
  @media(max-width:800px){
    .nav-header{
      width:200px;
    }
    #main-doc{
      margin-left:220px;
    }
  }
  
  